In [1]:
import keras
import pandas as pd
import numpy as np
from keras.layers import *
from keras.models import Model
from sklearn import preprocessing

Using TensorFlow backend.

In [2]:
#Load Data
train_data = pd.read_csv('data/train.csv')
eval_data = pd.read_csv('data/test.csv')
print(train_data.info())
print("-"*10)
print(eval_data.info())
print(train_data.head())
#save pId's for eval data
pid = eval_data['PassengerId']
#train_data = train_data.dropna(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None
----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [3]:
# Check number of null and non null in data
print('Train columns with null values:\n', train_data.isnull().sum())
print("-"*10)

print('Test/Validation columns with null values:\n', train_data.isnull().sum())
print("-"*10)

Train columns with null values:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
----------
Test/Validation columns with null values:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
----------

In [4]:
#function to preprocess Data
def preprocess_data(dataset):
    #replace null value of age by median of all non-null age in dataset
    dataset['Age'].fillna(dataset['Age'].median(), inplace = True)
    
    #replace null value of stations by mode of the data (since it is categorical data)
    dataset['Embarked'].fillna(dataset['Embarked'].mode()[0], inplace = True)
    
    dataset['Fare'].fillna(dataset['Fare'].median(), inplace = True)
    
    
    #Convert categorical data into int
    dataset['Sex'] = pd.Categorical(dataset.Sex).codes
    dataset['Embarked'] = pd.Categorical(dataset.Embarked).codes
    
    
    #Add additional features to data
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1
    dataset['isAlone'] = 1
    dataset['isAlone'].loc[dataset['FamilySize'] > 1] = 0
    
    dataset['FareBin'] = pd.qcut(dataset['Fare'].astype(int), 4)
    dataset['AgeBin'] = pd.cut(dataset['Age'].astype(int), 5)
    
    #Convert range into numerical
    label = preprocessing.LabelEncoder()
    
    dataset['AgeBin_Code'] = label.fit_transform(dataset['AgeBin'])
    dataset['FareBin_Code'] = label.fit_transform(dataset['FareBin'])
    
    #Drop cols Name, PassengerID, and Cabin since they are most likely not responsible in survival
    drop_cols = ['Name', 'PassengerId', 'Cabin', 'Ticket', 'FareBin', 'AgeBin']
    dataset.drop(drop_cols, axis=1, inplace=True)
    
    return dataset

In [5]:
train_data = preprocess_data(train_data)
eval_data = preprocess_data(eval_data)

# Again check number of null values in data
print('Train columns with null values:\n', train_data.isnull().sum())
print("-"*10)

print('Test/Validation columns with null values:\n', train_data.isnull().sum())
print("-"*10)

Train columns with null values:
 Survived        0
Pclass          0
Sex             0
Age             0
SibSp           0
Parch           0
Fare            0
Embarked        0
FamilySize      0
isAlone         0
AgeBin_Code     0
FareBin_Code    0
dtype: int64
----------
Test/Validation columns with null values:
 Survived        0
Pclass          0
Sex             0
Age             0
SibSp           0
Parch           0
Fare            0
Embarked        0
FamilySize      0
isAlone         0
AgeBin_Code     0
FareBin_Code    0
dtype: int64
----------

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [6]:
train_data.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,isAlone,AgeBin_Code,FareBin_Code
0,0,3,1,22.0,1,0,7.2500,2,2,0,1,0
1,1,1,0,38.0,1,0,71.2833,0,2,0,2,3
2,1,3,0,26.0,0,0,7.9250,2,1,1,1,0
3,1,1,0,35.0,1,0,53.1000,2,2,0,2,3
4,0,3,1,35.0,0,0,8.0500,2,1,1,2,1

In [7]:
train_data.shape

(891, 12)

In [8]:
X_train, Y_train= train_data.loc[:, 'Pclass':], train_data['Survived']

In [9]:
X_train.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,isAlone,AgeBin_Code,FareBin_Code
0,3,1,22.0,1,0,7.2500,2,2,0,1,0
1,1,0,38.0,1,0,71.2833,0,2,0,2,3
2,3,0,26.0,0,0,7.9250,2,1,1,1,0
3,1,0,35.0,1,0,53.1000,2,2,0,2,3
4,3,1,35.0,0,0,8.0500,2,1,1,2,1

In [10]:
Y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [11]:
X_train, Y_train = X_train.values, Y_train.values
#data_Normalization
#X_train=(X_train-X_train.mean())/X_train.std()

In [12]:
def createModel():
    inp = Input(X_train.shape[1:])
    x = Dense(128, kernel_initializer='normal', activation='relu')(inp)
    #x = Dropout(0.5)(x)
    x = Dense(256, kernel_initializer='normal', activation='relu')(x)
    x = Dropout(0.5)(x)
    x = Dense(256, kernel_initializer='normal', activation='relu')(x)
    x = Dropout(0.5)(x)
    x = Dense(256, kernel_initializer='normal', activation='relu')(x)
    #x = Dropout(0.5)(x)
    #     x = Dense(8, kernel_initializer='normal', activation='relu')(x)
    #     x = Dropout(0.5)(x)
    #     x = Dense(4, kernel_initializer='normal', activation='relu')(x)
    #     x = Dropout(0.5)(x)
    x = Dense(1, activation = 'sigmoid')(x)
    model = Model(inputs=inp, outputs=x)
    return model

In [13]:
model = createModel()

In [14]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [15]:
model.fit(x=X_train, y=Y_train, validation_split=0.2, epochs=150, batch_size=64)

Train on 712 samples, validate on 179 samples
Epoch 1/150
712/712 [==============================] - 1s 766us/step - loss: 0.6929 - acc: 0.6390 - val_loss: 0.5558 - val_acc: 0.7207
Epoch 2/150
712/712 [==============================] - 0s 141us/step - loss: 0.6752 - acc: 0.6461 - val_loss: 0.5727 - val_acc: 0.7263
Epoch 3/150
712/712 [==============================] - 0s 142us/step - loss: 0.6898 - acc: 0.6362 - val_loss: 0.5640 - val_acc: 0.7207
Epoch 4/150
712/712 [==============================] - 0s 110us/step - loss: 0.6499 - acc: 0.6573 - val_loss: 0.5623 - val_acc: 0.7263
Epoch 5/150
712/712 [==============================] - 0s 139us/step - loss: 0.6476 - acc: 0.6531 - val_loss: 0.5457 - val_acc: 0.7318
Epoch 6/150
712/712 [==============================] - 0s 132us/step - loss: 0.6221 - acc: 0.6699 - val_loss: 0.5386 - val_acc: 0.7318
Epoch 7/150
712/712 [==============================] - 0s 136us/step - loss: 0.6429 - acc: 0.6559 - val_loss: 0.5927 - val_acc: 0.6927
Epoch 8/150
712/712 [==============================] - 0s 154us/step - loss: 0.6124 - acc: 0.6615 - val_loss: 0.5302 - val_acc: 0.7263
Epoch 9/150
712/712 [==============================] - 0s 172us/step - loss: 0.6280 - acc: 0.6643 - val_loss: 0.5439 - val_acc: 0.7430
Epoch 10/150
712/712 [==============================] - 0s 242us/step - loss: 0.6103 - acc: 0.6770 - val_loss: 0.5371 - val_acc: 0.7486
Epoch 11/150
712/712 [==============================] - 0s 190us/step - loss: 0.6064 - acc: 0.6882 - val_loss: 0.5137 - val_acc: 0.7598
Epoch 12/150
712/712 [==============================] - 0s 160us/step - loss: 0.6088 - acc: 0.6671 - val_loss: 0.5416 - val_acc: 0.7542
Epoch 13/150
712/712 [==============================] - 0s 139us/step - loss: 0.6037 - acc: 0.6826 - val_loss: 0.5183 - val_acc: 0.7542
Epoch 14/150
712/712 [==============================] - 0s 129us/step - loss: 0.6027 - acc: 0.6770 - val_loss: 0.5174 - val_acc: 0.7598
Epoch 15/150
712/712 [==============================] - 0s 129us/step - loss: 0.6014 - acc: 0.6882 - val_loss: 0.5112 - val_acc: 0.7765
Epoch 16/150
712/712 [==============================] - 0s 137us/step - loss: 0.5809 - acc: 0.6896 - val_loss: 0.4749 - val_acc: 0.7542
Epoch 17/150
712/712 [==============================] - 0s 165us/step - loss: 0.5729 - acc: 0.7008 - val_loss: 0.5050 - val_acc: 0.7989
Epoch 18/150
712/712 [==============================] - 0s 122us/step - loss: 0.5666 - acc: 0.6952 - val_loss: 0.4595 - val_acc: 0.7877
Epoch 19/150
712/712 [==============================] - 0s 165us/step - loss: 0.5393 - acc: 0.7388 - val_loss: 0.4325 - val_acc: 0.7933
Epoch 20/150
712/712 [==============================] - 0s 148us/step - loss: 0.5103 - acc: 0.7388 - val_loss: 0.4280 - val_acc: 0.8156
Epoch 21/150
712/712 [==============================] - 0s 118us/step - loss: 0.5310 - acc: 0.7584 - val_loss: 0.4795 - val_acc: 0.8101
Epoch 22/150
712/712 [==============================] - 0s 177us/step - loss: 0.5600 - acc: 0.7275 - val_loss: 0.4379 - val_acc: 0.8156
Epoch 23/150
712/712 [==============================] - 0s 147us/step - loss: 0.5451 - acc: 0.7472 - val_loss: 0.4328 - val_acc: 0.8212
Epoch 24/150
712/712 [==============================] - 0s 145us/step - loss: 0.5287 - acc: 0.7584 - val_loss: 0.4308 - val_acc: 0.8156
Epoch 25/150
712/712 [==============================] - 0s 143us/step - loss: 0.5084 - acc: 0.7584 - val_loss: 0.3959 - val_acc: 0.8380
Epoch 26/150
712/712 [==============================] - 0s 143us/step - loss: 0.5105 - acc: 0.7711 - val_loss: 0.3949 - val_acc: 0.8603
Epoch 27/150
712/712 [==============================] - 0s 143us/step - loss: 0.5511 - acc: 0.7584 - val_loss: 0.4160 - val_acc: 0.8324
Epoch 28/150
712/712 [==============================] - 0s 142us/step - loss: 0.5124 - acc: 0.7654 - val_loss: 0.4427 - val_acc: 0.8156
Epoch 29/150
712/712 [==============================] - 0s 124us/step - loss: 0.5202 - acc: 0.7739 - val_loss: 0.4116 - val_acc: 0.8324
Epoch 30/150
712/712 [==============================] - 0s 174us/step - loss: 0.5480 - acc: 0.7669 - val_loss: 0.3996 - val_acc: 0.8380
Epoch 31/150
712/712 [==============================] - 0s 143us/step - loss: 0.5166 - acc: 0.7781 - val_loss: 0.4262 - val_acc: 0.8603
Epoch 32/150
712/712 [==============================] - 0s 123us/step - loss: 0.5105 - acc: 0.7851 - val_loss: 0.4205 - val_acc: 0.8268
Epoch 33/150
712/712 [==============================] - 0s 133us/step - loss: 0.4952 - acc: 0.7795 - val_loss: 0.3862 - val_acc: 0.8603
Epoch 34/150
712/712 [==============================] - 0s 148us/step - loss: 0.4797 - acc: 0.7865 - val_loss: 0.3830 - val_acc: 0.8324
Epoch 35/150
712/712 [==============================] - 0s 136us/step - loss: 0.4942 - acc: 0.7823 - val_loss: 0.3785 - val_acc: 0.8436
Epoch 36/150
712/712 [==============================] - 0s 154us/step - loss: 0.4876 - acc: 0.7851 - val_loss: 0.3798 - val_acc: 0.8436
Epoch 37/150
712/712 [==============================] - 0s 153us/step - loss: 0.4656 - acc: 0.7935 - val_loss: 0.3860 - val_acc: 0.8324
Epoch 38/150
712/712 [==============================] - 0s 148us/step - loss: 0.4761 - acc: 0.7907 - val_loss: 0.4101 - val_acc: 0.8380
Epoch 39/150
712/712 [==============================] - 0s 133us/step - loss: 0.5193 - acc: 0.7669 - val_loss: 0.3751 - val_acc: 0.8324
Epoch 40/150
712/712 [==============================] - 0s 150us/step - loss: 0.5353 - acc: 0.7767 - val_loss: 0.4114 - val_acc: 0.8268
Epoch 41/150
712/712 [==============================] - 0s 147us/step - loss: 0.5175 - acc: 0.7598 - val_loss: 0.4508 - val_acc: 0.8380
Epoch 42/150
712/712 [==============================] - 0s 147us/step - loss: 0.4865 - acc: 0.7837 - val_loss: 0.3897 - val_acc: 0.8492
Epoch 43/150
712/712 [==============================] - 0s 150us/step - loss: 0.4971 - acc: 0.7669 - val_loss: 0.3921 - val_acc: 0.8324
Epoch 44/150
712/712 [==============================] - 0s 146us/step - loss: 0.4823 - acc: 0.7978 - val_loss: 0.3977 - val_acc: 0.8436
Epoch 45/150
712/712 [==============================] - 0s 149us/step - loss: 0.4959 - acc: 0.7837 - val_loss: 0.3760 - val_acc: 0.8603
Epoch 46/150
712/712 [==============================] - 0s 153us/step - loss: 0.4779 - acc: 0.7949 - val_loss: 0.4120 - val_acc: 0.8492
Epoch 47/150
712/712 [==============================] - 0s 156us/step - loss: 0.4796 - acc: 0.7837 - val_loss: 0.3551 - val_acc: 0.8603
Epoch 48/150
712/712 [==============================] - 0s 162us/step - loss: 0.4661 - acc: 0.7963 - val_loss: 0.3891 - val_acc: 0.8436
Epoch 49/150
712/712 [==============================] - 0s 201us/step - loss: 0.4599 - acc: 0.8048 - val_loss: 0.3823 - val_acc: 0.8659
Epoch 50/150
712/712 [==============================] - 0s 138us/step - loss: 0.4664 - acc: 0.8020 - val_loss: 0.3774 - val_acc: 0.8547
Epoch 51/150
712/712 [==============================] - 0s 131us/step - loss: 0.4627 - acc: 0.7935 - val_loss: 0.3677 - val_acc: 0.8436
Epoch 52/150
712/712 [==============================] - 0s 177us/step - loss: 0.4716 - acc: 0.7893 - val_loss: 0.3625 - val_acc: 0.8603
Epoch 53/150
712/712 [==============================] - 0s 154us/step - loss: 0.4496 - acc: 0.7978 - val_loss: 0.3479 - val_acc: 0.8659
Epoch 54/150
712/712 [==============================] - 0s 129us/step - loss: 0.4452 - acc: 0.7949 - val_loss: 0.3512 - val_acc: 0.8547
Epoch 55/150
712/712 [==============================] - 0s 164us/step - loss: 0.4536 - acc: 0.7837 - val_loss: 0.3619 - val_acc: 0.8436
Epoch 56/150
712/712 [==============================] - 0s 146us/step - loss: 0.4449 - acc: 0.8118 - val_loss: 0.3440 - val_acc: 0.8492
Epoch 57/150
712/712 [==============================] - 0s 193us/step - loss: 0.4408 - acc: 0.8034 - val_loss: 0.3470 - val_acc: 0.8547
Epoch 58/150
712/712 [==============================] - 0s 181us/step - loss: 0.4419 - acc: 0.8006 - val_loss: 0.3779 - val_acc: 0.8436
Epoch 59/150
712/712 [==============================] - 0s 148us/step - loss: 0.4608 - acc: 0.8076 - val_loss: 0.3500 - val_acc: 0.8436
Epoch 60/150
712/712 [==============================] - 0s 198us/step - loss: 0.4706 - acc: 0.7893 - val_loss: 0.3636 - val_acc: 0.8380

Epoch 61/150
712/712 [==============================] - 0s 164us/step - loss: 0.4622 - acc: 0.8006 - val_loss: 0.3537 - val_acc: 0.8436
Epoch 62/150
712/712 [==============================] - 0s 188us/step - loss: 0.4404 - acc: 0.8048 - val_loss: 0.3593 - val_acc: 0.8659
Epoch 63/150
712/712 [==============================] - 0s 114us/step - loss: 0.4592 - acc: 0.8020 - val_loss: 0.3538 - val_acc: 0.8603
Epoch 64/150
712/712 [==============================] - 0s 120us/step - loss: 0.4393 - acc: 0.8104 - val_loss: 0.3407 - val_acc: 0.8659
Epoch 65/150
712/712 [==============================] - 0s 147us/step - loss: 0.4702 - acc: 0.7879 - val_loss: 0.3556 - val_acc: 0.8547
Epoch 66/150
712/712 [==============================] - 0s 241us/step - loss: 0.4351 - acc: 0.7992 - val_loss: 0.3547 - val_acc: 0.8603
Epoch 67/150
712/712 [==============================] - 0s 198us/step - loss: 0.4574 - acc: 0.7978 - val_loss: 0.3579 - val_acc: 0.8715
Epoch 68/150
712/712 [==============================] - 0s 123us/step - loss: 0.4381 - acc: 0.8118 - val_loss: 0.3579 - val_acc: 0.8547
Epoch 69/150
712/712 [==============================] - 0s 229us/step - loss: 0.4286 - acc: 0.8048 - val_loss: 0.3338 - val_acc: 0.8603
Epoch 70/150
712/712 [==============================] - 0s 232us/step - loss: 0.4429 - acc: 0.8076 - val_loss: 0.3314 - val_acc: 0.8492
Epoch 71/150
712/712 [==============================] - 0s 174us/step - loss: 0.4323 - acc: 0.8174 - val_loss: 0.3547 - val_acc: 0.8436
Epoch 72/150
712/712 [==============================] - 0s 124us/step - loss: 0.4323 - acc: 0.8104 - val_loss: 0.3747 - val_acc: 0.8380
Epoch 73/150
712/712 [==============================] - 0s 137us/step - loss: 0.4472 - acc: 0.8048 - val_loss: 0.3388 - val_acc: 0.8659
Epoch 74/150
712/712 [==============================] - 0s 260us/step - loss: 0.4421 - acc: 0.7992 - val_loss: 0.3505 - val_acc: 0.8659
Epoch 75/150
712/712 [==============================] - 0s 178us/step - loss: 0.4383 - acc: 0.8216 - val_loss: 0.3430 - val_acc: 0.8659
Epoch 76/150
712/712 [==============================] - 0s 116us/step - loss: 0.4314 - acc: 0.8146 - val_loss: 0.3396 - val_acc: 0.8659
Epoch 77/150
712/712 [==============================] - 0s 131us/step - loss: 0.4159 - acc: 0.8258 - val_loss: 0.3416 - val_acc: 0.8603
Epoch 78/150
712/712 [==============================] - 0s 122us/step - loss: 0.4303 - acc: 0.8104 - val_loss: 0.3541 - val_acc: 0.8603
Epoch 79/150
712/712 [==============================] - 0s 124us/step - loss: 0.4139 - acc: 0.8230 - val_loss: 0.3470 - val_acc: 0.8603
Epoch 80/150
712/712 [==============================] - 0s 114us/step - loss: 0.4239 - acc: 0.8202 - val_loss: 0.3347 - val_acc: 0.8492
Epoch 81/150
712/712 [==============================] - 0s 134us/step - loss: 0.4136 - acc: 0.8301 - val_loss: 0.3727 - val_acc: 0.8492
Epoch 82/150
712/712 [==============================] - 0s 128us/step - loss: 0.4333 - acc: 0.8118 - val_loss: 0.3406 - val_acc: 0.8492
Epoch 83/150
712/712 [==============================] - 0s 142us/step - loss: 0.4323 - acc: 0.8188 - val_loss: 0.3304 - val_acc: 0.8603
Epoch 84/150
712/712 [==============================] - 0s 144us/step - loss: 0.4146 - acc: 0.8188 - val_loss: 0.3393 - val_acc: 0.8603
Epoch 85/150
712/712 [==============================] - 0s 162us/step - loss: 0.4094 - acc: 0.8244 - val_loss: 0.3304 - val_acc: 0.8547
Epoch 86/150
712/712 [==============================] - 0s 174us/step - loss: 0.4251 - acc: 0.8160 - val_loss: 0.3507 - val_acc: 0.8603
Epoch 87/150
712/712 [==============================] - 0s 143us/step - loss: 0.4072 - acc: 0.8230 - val_loss: 0.3655 - val_acc: 0.8603
Epoch 88/150
712/712 [==============================] - 0s 125us/step - loss: 0.4231 - acc: 0.8160 - val_loss: 0.3451 - val_acc: 0.8659
Epoch 89/150
712/712 [==============================] - 0s 161us/step - loss: 0.4171 - acc: 0.8188 - val_loss: 0.3238 - val_acc: 0.8603
Epoch 90/150
712/712 [==============================] - 0s 139us/step - loss: 0.4522 - acc: 0.7879 - val_loss: 0.3605 - val_acc: 0.8603
Epoch 91/150
712/712 [==============================] - 0s 154us/step - loss: 0.4385 - acc: 0.8034 - val_loss: 0.3755 - val_acc: 0.8492
Epoch 92/150
712/712 [==============================] - 0s 119us/step - loss: 0.4215 - acc: 0.8202 - val_loss: 0.3284 - val_acc: 0.8492
Epoch 93/150
712/712 [==============================] - 0s 149us/step - loss: 0.4076 - acc: 0.8287 - val_loss: 0.3577 - val_acc: 0.8436
Epoch 94/150
712/712 [==============================] - 0s 174us/step - loss: 0.4231 - acc: 0.8202 - val_loss: 0.3392 - val_acc: 0.8492
Epoch 95/150
712/712 [==============================] - 0s 129us/step - loss: 0.4016 - acc: 0.8258 - val_loss: 0.3329 - val_acc: 0.8436
Epoch 96/150
712/712 [==============================] - 0s 140us/step - loss: 0.4038 - acc: 0.8329 - val_loss: 0.3578 - val_acc: 0.8603
Epoch 97/150
712/712 [==============================] - 0s 180us/step - loss: 0.4174 - acc: 0.8132 - val_loss: 0.3183 - val_acc: 0.8603
Epoch 98/150
712/712 [==============================] - 0s 145us/step - loss: 0.4289 - acc: 0.8188 - val_loss: 0.3732 - val_acc: 0.8156
Epoch 99/150
712/712 [==============================] - 0s 143us/step - loss: 0.4472 - acc: 0.7992 - val_loss: 0.3978 - val_acc: 0.8324
Epoch 100/150
712/712 [==============================] - 0s 180us/step - loss: 0.4376 - acc: 0.8160 - val_loss: 0.3779 - val_acc: 0.8603
Epoch 101/150
712/712 [==============================] - 0s 201us/step - loss: 0.4306 - acc: 0.8048 - val_loss: 0.3403 - val_acc: 0.8492
Epoch 102/150
712/712 [==============================] - 0s 211us/step - loss: 0.4217 - acc: 0.8174 - val_loss: 0.3375 - val_acc: 0.8380
Epoch 103/150
712/712 [==============================] - 0s 161us/step - loss: 0.4114 - acc: 0.8244 - val_loss: 0.3438 - val_acc: 0.8324
Epoch 104/150
712/712 [==============================] - 0s 129us/step - loss: 0.4113 - acc: 0.8343 - val_loss: 0.3623 - val_acc: 0.8492
Epoch 105/150
712/712 [==============================] - 0s 152us/step - loss: 0.4108 - acc: 0.8301 - val_loss: 0.3459 - val_acc: 0.8436
Epoch 106/150
712/712 [==============================] - 0s 141us/step - loss: 0.3982 - acc: 0.8399 - val_loss: 0.3363 - val_acc: 0.8603
Epoch 107/150
712/712 [==============================] - 0s 149us/step - loss: 0.4123 - acc: 0.8244 - val_loss: 0.3459 - val_acc: 0.8492
Epoch 108/150
712/712 [==============================] - 0s 145us/step - loss: 0.4021 - acc: 0.8301 - val_loss: 0.3405 - val_acc: 0.8603
Epoch 109/150
712/712 [==============================] - 0s 151us/step - loss: 0.4197 - acc: 0.8160 - val_loss: 0.3528 - val_acc: 0.8436
Epoch 110/150
712/712 [==============================] - 0s 175us/step - loss: 0.4219 - acc: 0.8272 - val_loss: 0.3569 - val_acc: 0.8492
Epoch 111/150
712/712 [==============================] - 0s 247us/step - loss: 0.3870 - acc: 0.8315 - val_loss: 0.3319 - val_acc: 0.8603
Epoch 112/150
712/712 [==============================] - 0s 159us/step - loss: 0.4059 - acc: 0.8385 - val_loss: 0.3709 - val_acc: 0.8603
Epoch 113/150
712/712 [==============================] - 0s 136us/step - loss: 0.4346 - acc: 0.8104 - val_loss: 0.3556 - val_acc: 0.8436
Epoch 114/150
712/712 [==============================] - 0s 153us/step - loss: 0.4204 - acc: 0.8244 - val_loss: 0.3522 - val_acc: 0.8492
Epoch 115/150
712/712 [==============================] - 0s 179us/step - loss: 0.4083 - acc: 0.8258 - val_loss: 0.3382 - val_acc: 0.8547
Epoch 116/150
712/712 [==============================] - 0s 230us/step - loss: 0.4010 - acc: 0.8216 - val_loss: 0.3976 - val_acc: 0.8436
Epoch 117/150
712/712 [==============================] - 0s 177us/step - loss: 0.4251 - acc: 0.8202 - val_loss: 0.3551 - val_acc: 0.8324
Epoch 118/150
712/712 [==============================] - 0s 154us/step - loss: 0.4066 - acc: 0.8329 - val_loss: 0.3582 - val_acc: 0.8436
Epoch 119/150
712/712 [==============================] - 0s 152us/step - loss: 0.3966 - acc: 0.8371 - val_loss: 0.3392 - val_acc: 0.8547
Epoch 120/150
712/712 [==============================] - 0s 159us/step - loss: 0.4042 - acc: 0.8230 - val_loss: 0.3815 - val_acc: 0.8603
Epoch 121/150

712/712 [==============================] - 0s 205us/step - loss: 0.3972 - acc: 0.8329 - val_loss: 0.3365 - val_acc: 0.8436
Epoch 122/150
712/712 [==============================] - 0s 223us/step - loss: 0.3842 - acc: 0.8399 - val_loss: 0.3576 - val_acc: 0.8492
Epoch 123/150
712/712 [==============================] - 0s 203us/step - loss: 0.3961 - acc: 0.8272 - val_loss: 0.3586 - val_acc: 0.8436
Epoch 124/150
712/712 [==============================] - 0s 236us/step - loss: 0.3882 - acc: 0.8287 - val_loss: 0.3486 - val_acc: 0.8380
Epoch 125/150
712/712 [==============================] - 0s 221us/step - loss: 0.3937 - acc: 0.8343 - val_loss: 0.3741 - val_acc: 0.8380
Epoch 126/150
712/712 [==============================] - 0s 202us/step - loss: 0.3999 - acc: 0.8315 - val_loss: 0.3885 - val_acc: 0.8268
Epoch 127/150
712/712 [==============================] - 0s 139us/step - loss: 0.4232 - acc: 0.8230 - val_loss: 0.3736 - val_acc: 0.8156
Epoch 128/150
712/712 [==============================] - 0s 123us/step - loss: 0.4006 - acc: 0.8343 - val_loss: 0.3643 - val_acc: 0.8436
Epoch 129/150
712/712 [==============================] - 0s 148us/step - loss: 0.3894 - acc: 0.8385 - val_loss: 0.3452 - val_acc: 0.8268
Epoch 130/150
712/712 [==============================] - 0s 113us/step - loss: 0.3900 - acc: 0.8385 - val_loss: 0.3574 - val_acc: 0.8380
Epoch 131/150
712/712 [==============================] - 0s 127us/step - loss: 0.3808 - acc: 0.8441 - val_loss: 0.3612 - val_acc: 0.8324
Epoch 132/150
712/712 [==============================] - 0s 128us/step - loss: 0.3879 - acc: 0.8258 - val_loss: 0.3444 - val_acc: 0.8380
Epoch 133/150
712/712 [==============================] - 0s 126us/step - loss: 0.3868 - acc: 0.8385 - val_loss: 0.3322 - val_acc: 0.8603
Epoch 134/150
712/712 [==============================] - 0s 188us/step - loss: 0.4003 - acc: 0.8343 - val_loss: 0.3900 - val_acc: 0.8492
Epoch 135/150
712/712 [==============================] - 0s 206us/step - loss: 0.3837 - acc: 0.8525 - val_loss: 0.3502 - val_acc: 0.8380
Epoch 136/150
712/712 [==============================] - 0s 150us/step - loss: 0.3883 - acc: 0.8413 - val_loss: 0.3615 - val_acc: 0.8547
Epoch 137/150
712/712 [==============================] - 0s 115us/step - loss: 0.3838 - acc: 0.8371 - val_loss: 0.3794 - val_acc: 0.8380
Epoch 138/150
712/712 [==============================] - 0s 146us/step - loss: 0.3861 - acc: 0.8399 - val_loss: 0.3422 - val_acc: 0.8547
Epoch 139/150
712/712 [==============================] - 0s 129us/step - loss: 0.3803 - acc: 0.8455 - val_loss: 0.4045 - val_acc: 0.8436
Epoch 140/150
712/712 [==============================] - 0s 138us/step - loss: 0.3904 - acc: 0.8371 - val_loss: 0.3545 - val_acc: 0.8436
Epoch 141/150
712/712 [==============================] - 0s 205us/step - loss: 0.3738 - acc: 0.8441 - val_loss: 0.3762 - val_acc: 0.8380
Epoch 142/150
712/712 [==============================] - 0s 231us/step - loss: 0.3777 - acc: 0.8455 - val_loss: 0.3678 - val_acc: 0.8380
Epoch 143/150
712/712 [==============================] - 0s 188us/step - loss: 0.3863 - acc: 0.8455 - val_loss: 0.3742 - val_acc: 0.8436
Epoch 144/150
712/712 [==============================] - 0s 231us/step - loss: 0.3957 - acc: 0.8258 - val_loss: 0.3814 - val_acc: 0.8380
Epoch 145/150
712/712 [==============================] - 0s 238us/step - loss: 0.3757 - acc: 0.8441 - val_loss: 0.3614 - val_acc: 0.8380
Epoch 146/150
712/712 [==============================] - 0s 174us/step - loss: 0.3869 - acc: 0.8455 - val_loss: 0.3736 - val_acc: 0.8380
Epoch 147/150
712/712 [==============================] - 0s 129us/step - loss: 0.3922 - acc: 0.8371 - val_loss: 0.3727 - val_acc: 0.8380
Epoch 148/150
712/712 [==============================] - 0s 157us/step - loss: 0.3854 - acc: 0.8469 - val_loss: 0.3755 - val_acc: 0.8156
Epoch 149/150
712/712 [==============================] - 0s 128us/step - loss: 0.3981 - acc: 0.8216 - val_loss: 0.3715 - val_acc: 0.8380
Epoch 150/150
712/712 [==============================] - 0s 186us/step - loss: 0.3722 - acc: 0.8441 - val_loss: 0.3570 - val_acc: 0.8324

In [17]:
model.save('./trained_models/titanic_NN_v3.h5')

In [18]:
# test_data = pd.read_csv('data/test.csv')
eval_data.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,isAlone,AgeBin_Code,FareBin_Code
0,3,1,34.5,0,0,7.8292,1,1,1,2,0
1,3,0,47.0,1,0,7.0000,2,2,0,3,0
2,2,1,62.0,0,0,9.6875,1,1,1,4,1
3,3,1,27.0,0,0,8.6625,2,1,1,1,1
4,3,0,22.0,1,1,12.2875,2,3,0,1,1

In [19]:
#eval_data=(eval_data-eval_data.mean())/eval_data.std()
eval_data.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,isAlone,AgeBin_Code,FareBin_Code
0,3,1,34.5,0,0,7.8292,1,1,1,2,0
1,3,0,47.0,1,0,7.0000,2,2,0,3,0
2,2,1,62.0,0,0,9.6875,1,1,1,4,1
3,3,1,27.0,0,0,8.6625,2,1,1,1,1
4,3,0,22.0,1,1,12.2875,2,3,0,1,1

In [20]:
labels = model.predict(eval_data)

In [21]:
labels

array([[0.11496806],
       [0.19668719],
       [0.10073446],
       [0.11894929],
       [0.78135973],
       [0.21293887],
       [0.8051061 ],
       [0.07454533],
       [0.6800922 ],
       [0.04022956],
       [0.10883601],
       [0.3255888 ],
       [0.99917054],
       [0.12080293],
       [0.99951005],
       [0.9756064 ],
       [0.170874  ],
       [0.19517438],
       [0.28184322],
       [0.6779627 ],
       [0.34070545],
       [0.26834813],
       [0.99822253],
       [0.35192648],
       [0.50358987],
       [0.06105202],
       [0.9974606 ],
       [0.18957663],
       [0.36086625],
       [0.25194088],
       [0.14635254],
       [0.05404917],
       [0.7642036 ],
       [0.5498986 ],
       [0.37266043],
       [0.20871536],
       [0.35409504],
       [0.41293994],
       [0.10342573],
       [0.3901578 ],
       [0.06139066],
       [0.37109077],
       [0.11671633],
       [0.906446  ],
       [0.99922097],
       [0.09566654],
       [0.32500288],
       [0.122211  ],
       [0.99961925],
       [0.32324752],
       [0.31334662],
       [0.2710264 ],
       [0.17257783],
       [0.6393692 ],
       [0.27692112],
       [0.02163879],
       [0.11869146],
       [0.09873036],
       [0.09019617],
       [0.9857524 ],
       [0.07018901],
       [0.15488613],
       [0.07373148],
       [0.76603943],
       [0.6197643 ],
       [0.97926545],
       [0.70977587],
       [0.35944876],
       [0.3556828 ],
       [0.43211117],
       [0.7905303 ],
       [0.07631   ],
       [0.6256984 ],
       [0.35897088],
       [0.9977719 ],
       [0.3235529 ],
       [0.12376566],
       [0.90206456],
       [0.16843249],
       [0.7905303 ],
       [0.99869895],
       [0.3525833 ],
       [0.31310526],
       [0.10883601],
       [0.17590839],
       [0.16614714],
       [0.8117955 ],
       [0.3815673 ],
       [0.8076106 ],
       [0.9845051 ],
       [0.3720668 ],
       [0.10967455],
       [0.98422676],
       [0.12376566],
       [0.35559723],
       [0.09713959],
       [0.99718386],
       [0.11773321],
       [0.6827659 ],
       [0.11056903],
       [0.9992741 ],
       [0.10422562],
       [0.122211  ],
       [0.10401352],
       [0.9204179 ],
       [0.14716877],
       [0.11413986],
       [0.122211  ],
       [0.11849296],
       [0.08767276],
       [0.19654016],
       [0.8085648 ],
       [0.9911356 ],
       [0.70518416],
       [0.99995124],
       [0.7322467 ],
       [0.1663587 ],
       [0.96790576],
       [0.36510316],
       [0.9608024 ],
       [0.8821851 ],
       [0.09625963],
       [0.99948645],
       [0.1160631 ],
       [0.122211  ],
       [0.39208275],
       [0.07985449],
       [0.7388278 ],
       [0.18131112],
       [0.12579817],
       [0.10996436],
       [0.27498564],
       [0.26002923],
       [0.12727156],
       [0.1154881 ],
       [0.0897415 ],
       [0.17017618],
       [0.12402496],
       [0.36493048],
       [0.01606329],
       [0.04597864],
       [0.9996537 ],
       [0.23711543],
       [0.29785204],
       [0.3504541 ],
       [0.08169989],
       [0.3789008 ],
       [0.13056095],
       [0.37109077],
       [0.07362576],
       [0.99792945],
       [0.1676633 ],
       [0.12810634],
       [0.24872167],
       [0.01476178],
       [0.09317224],
       [0.97985727],
       [0.6966374 ],
       [0.3504541 ],
       [0.5026184 ],
       [0.80705196],
       [0.99819595],
       [0.89548683],
       [0.11461513],
       [0.18177873],
       [0.7902644 ],
       [0.34490222],
       [0.0382015 ],
       [0.99665314],
       [0.4488157 ],
       [0.11103483],
       [0.16740504],
       [0.07839436],
       [0.16740888],
       [0.02574626],
       [0.9674727 ],
       [0.99713945],
       [0.34037295],
       [0.81471026],
       [0.9052003 ],
       [0.16843249],
       [0.34283412],
       [0.9974252 ],
       [0.122211  ],
       [0.9003381 ],
       [0.19789466],
       [0.9416333 ],
       [0.1513352 ],
       [0.00325349],
       [0.18180782],
       [0.13890532],
       [0.36910686],
       [0.09445296],
       [0.12205365],
       [0.9967643 ],
       [0.11513084],
       [0.7030931 ],
       [0.5973097 ],
       [0.10333472],
       [0.3559172 ],
       [0.88696235],
       [0.9969708 ],
       [0.33724675],
       [0.38969395],
       [0.12087364],
       [0.35364127],
       [0.7399174 ],
       [0.11157129],
       [0.9900513 ],
       [0.0960039 ],
       [0.1596038 ],
       [0.11434416],
       [0.36949164],
       [0.8980172 ],
       [0.91999984],
       [0.36672613],
       [0.8117955 ],
       [0.3177478 ],
       [0.9993255 ],
       [0.12376566],
       [0.7207206 ],
       [0.13391362],
       [0.84975636],
       [0.07706759],
       [0.8594915 ],
       [0.54686445],
       [0.08475373],
       [0.8076106 ],
       [0.15059985],
       [0.17949496],
       [0.3776258 ],
       [0.99717015],
       [0.10909834],
       [0.12140665],
       [0.3627366 ],
       [0.07442377],
       [0.32764262],
       [0.19891539],
       [0.8448438 ],
       [0.9999274 ],
       [0.85606647],
       [0.76052636],
       [0.3245914 ],
       [0.10890425],
       [0.07506646],
       [0.36666927],
       [0.9803514 ],
       [0.15956537],
       [0.9608024 ],
       [0.5327687 ],
       [0.9702932 ],
       [0.07372438],
       [0.34565336],
       [0.10616046],
       [0.11480235],
       [0.11103483],
       [0.122211  ],
       [0.12730439],
       [0.87234586],
       [0.07722606],
       [0.0784812 ],
       [0.07662432],
       [0.87595916],
       [0.7818946 ],
       [0.21491621],
       [0.10883601],
       [0.1253604 ],
       [0.11103483],
       [0.35409504],
       [0.14392662],
       [0.35143372],
       [0.122211  ],
       [0.9993469 ],
       [0.80771863],
       [0.16740504],
       [0.950559  ],
       [0.15457381],
       [0.15954994],
       [0.10081841],
       [0.09674889],
       [0.4108838 ],
       [0.9695182 ],
       [0.8076106 ],
       [0.85221785],
       [0.9719571 ],
       [0.11476915],
       [0.11289816],
       [0.3466149 ],
       [0.16740888],
       [0.12376566],
       [0.38161942],
       [0.7606704 ],
       [0.16740888],
       [0.33194107],
       [0.11841319],
       [0.10290891],
       [0.99820507],
       [0.25194088],
       [0.37912363],
       [0.11793602],
       [0.1123312 ],
       [0.2711567 ],
       [0.11241767],
       [0.11683962],
       [0.8076106 ],
       [0.42406705],
       [0.2943226 ],
       [0.9942101 ],
       [0.32828555],
       [0.3067347 ],
       [0.13876098],
       [0.19142255],
       [0.11088298],
       [0.7349508 ],
       [0.9999665 ],
       [0.68070734],
       [0.35911724],
       [0.0864946 ],
       [0.10916852],
       [0.05190707],
       [0.10401352],
       [0.17945515],
       [0.12402496],
       [0.3682743 ],
       [0.9985078 ],
       [0.09356891],
       [0.13940738],
       [0.35378203],
       [0.12323923],
       [0.08979973],
       [0.88604593],
       [0.34614196],
       [0.16740504],
       [0.8414265 ],
       [0.10883601],
       [0.37294975],
       [0.15453558],
       [0.03648728],
       [0.33618194],
       [0.16740888],
       [0.08625628],
       [0.11218796],
       [0.00986445],
       [0.8500019 ],
       [0.08253673],
       [0.40086251],
       [0.12402496],
       [0.7582632 ],
       [0.11013789],
       [0.9682815 ],
       [0.99748176],
       [0.12087364],
       [0.3683962 ],
       [0.27294767],
       [0.98468256],
       [0.30892006],
       [0.99377877],
       [0.10897256],
       [0.122211  ],
       [0.6618742 ],
       [0.00272887],
       [0.98498523],
       [0.9682815 ],
       [0.11894929],
       [0.99949956],
       [0.05861839],
       [0.16611989],
       [0.99468815],
       [0.99576664],
       [0.22476608],
       [0.09736431],
       [0.99981695],
       [0.07462326],
       [0.1795231 ],
       [0.99844307],
       [0.9975157 ],
       [0.69426936],
       [0.08795922],
       [0.34592056],
       [0.08680979],
       [0.122211  ],
       [0.1214268 ],
       [0.8236798 ],
       [0.2249689 ],
       [0.13362837],
       [0.97531044],
       [0.09063799],
       [0.14455725],
       [0.11525004],
       [0.09596083],
       [0.35601124],
       [0.9513572 ],
       [0.545629  ],
       [0.1439064 ],
       [0.08151667],
       [0.997689  ],
       [0.12794851],
       [0.99813604],
       [0.0800558 ],
       [0.10729734],
       [0.99875844],
       [0.11658386],
       [0.9973484 ],
       [0.36817747],
       [0.18748006],
       [0.26489326],
       [0.10408518],
       [0.30837113],
       [0.80663306],
       [0.59223914],
       [0.8076106 ],
       [0.99983716],
       [0.61747754],
       [0.12376566],
       [0.99992037],
       [0.11380198],
       [0.12376566],
       [0.21658798]], dtype=float32)

In [22]:
labels = labels > 0.50

In [23]:
labels = labels*1

In [24]:
labels

array([[0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0]])

In [25]:
df = pd.DataFrame(labels)

In [26]:
df.head()

   0
0  0
1  0
2  0
3  0
4  1

In [27]:
df['PassengerId'] = pid

In [28]:
df.columns = ['Survived', 'PassengerId']

In [29]:
df.head()

   Survived  PassengerId
0         0          892
1         0          893
2         0          894
3         0          895
4         1          896

In [30]:
df.to_csv('data/mysub_v3.csv', index=False)